<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "http://www.gnustep.org/plist-0_9.xml">
<plist version="0.9">
<dict>
    <key>A</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ar-flag</string>
	    <key>identifier</key>
	    <integer>11</integer>
	    <key>name</key>
	    <string>Argentina</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>am-flag</string>
	    <key>identifier</key>
	    <integer>12</integer>
	    <key>name</key>
	    <string>Armenia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>as-flag</string>
	    <key>identifier</key>
	    <integer>15</integer>
	    <key>name</key>
	    <string>Australia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>au-flag</string>
	    <key>identifier</key>
	    <integer>16</integer>
	    <key>name</key>
	    <string>Austria</string>
	</dict>
    </array>
    <key>B</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>bo-flag</string>
	    <key>identifier</key>
	    <integer>23</integer>
	    <key>name</key>
	    <string>Belarus</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>be-flag</string>
	    <key>identifier</key>
	    <integer>24</integer>
	    <key>name</key>
	    <string>Belgium</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>bc-flag</string>
	    <key>identifier</key>
	    <integer>31</integer>
	    <key>name</key>
	    <string>Botswana</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>br-flag</string>
	    <key>identifier</key>
	    <integer>33</integer>
	    <key>name</key>
	    <string>Brazil</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>bu-flag</string>
	    <key>identifier</key>
	    <integer>37</integer>
	    <key>name</key>
	    <string>Bulgaria</string>
	</dict>
    </array>
    <key>C</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ca-flag</string>
	    <key>identifier</key>
	    <integer>43</integer>
	    <key>name</key>
	    <string>Canada</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ci-flag</string>
	    <key>identifier</key>
	    <integer>48</integer>
	    <key>name</key>
	    <string>Chile</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ch-flag</string>
	    <key>identifier</key>
	    <integer>49</integer>
	    <key>name</key>
	    <string>China</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>co-flag</string>
	    <key>identifier</key>
	    <integer>53</integer>
	    <key>name</key>
	    <string>Colombia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>hr-flag</string>
	    <key>identifier</key>
	    <integer>61</integer>
	    <key>name</key>
	    <string>Croatia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>cy-flag</string>
	    <key>identifier</key>
	    <integer>63</integer>
	    <key>name</key>
	    <string>Cyprus</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ez-flag</string>
	    <key>identifier</key>
	    <integer>64</integer>
	    <key>name</key>
	    <string>Czech Republic</string>
	</dict>
    </array>
    <key>D</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>da-flag</string>
	    <key>identifier</key>
	    <integer>65</integer>
	    <key>name</key>
	    <string>Denmark</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>do-flag</string>
	    <key>identifier</key>
	    <integer>68</integer>
	    <key>name</key>
	    <string>Dominica</string>
	</dict>
    </array>
    <key>E</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ec-flag</string>
	    <key>identifier</key>
	    <integer>70</integer>
	    <key>name</key>
	    <string>Ecuador</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>eg-flag</string>
	    <key>identifier</key>
	    <integer>71</integer>
	    <key>name</key>
	    <string>Egypt</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>en-flag</string>
	    <key>identifier</key>
	    <integer>75</integer>
	    <key>name</key>
	    <string>Estonia</string>
	</dict>
    </array>
    <key>F</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>fi-flag</string>
	    <key>identifier</key>
	    <integer>81</integer>
	    <key>name</key>
	    <string>Finland</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>fr-flag</string>
	    <key>identifier</key>
	    <integer>82</integer>
	    <key>name</key>
	    <string>France</string>
	</dict>
    </array>
    <key>G</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>gg-flag</string>
	    <key>identifier</key>
	    <integer>89</integer>
	    <key>name</key>
	    <string>Georgia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>gm-flag</string>
	    <key>identifier</key>
	    <integer>90</integer>
	    <key>name</key>
	    <string>Germany</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>gr-flag</string>
	    <key>identifier</key>
	    <integer>94</integer>
	    <key>name</key>
	    <string>Greece</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>gt-flag</string>
	    <key>identifier</key>
	    <integer>99</integer>
	    <key>name</key>
	    <string>Guatemala</string>
	</dict>
    </array>
    <key>H</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ho-flag</string>
	    <key>identifier</key>
	    <integer>107</integer>
	    <key>name</key>
	    <string>Honduras</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>hu-flag</string>
	    <key>identifier</key>
	    <integer>109</integer>
	    <key>name</key>
	    <string>Hungary</string>
	</dict>
    </array>
    <key>I</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ic-flag</string>
	    <key>identifier</key>
	    <integer>110</integer>
	    <key>name</key>
	    <string>Iceland</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>in-flag</string>
	    <key>identifier</key>
	    <integer>111</integer>
	    <key>name</key>
	    <string>India</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>id-flag</string>
	    <key>identifier</key>
	    <integer>112</integer>
	    <key>name</key>
	    <string>Indonesia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ei-flag</string>
	    <key>identifier</key>
	    <integer>115</integer>
	    <key>name</key>
	    <string>Ireland</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>is-flag</string>
	    <key>identifier</key>
	    <integer>117</integer>
	    <key>name</key>
	    <string>Israel</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>it-flag</string>
	    <key>identifier</key>
	    <integer>118</integer>
	    <key>name</key>
	    <string>Italy</string>
	</dict>
    </array>
    <key>J</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>jm-flag</string>
	    <key>identifier</key>
	    <integer>119</integer>
	    <key>name</key>
	    <string>Jamaica</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ja-flag</string>
	    <key>identifier</key>
	    <integer>121</integer>
	    <key>name</key>
	    <string>Japan</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>jo-flag</string>
	    <key>identifier</key>
	    <integer>123</integer>
	    <key>name</key>
	    <string>Jordan</string>
	</dict>
    </array>
    <key>K</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>kz-flag</string>
	    <key>identifier</key>
	    <integer>125</integer>
	    <key>name</key>
	    <string>Kazakhstan</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ke-flag</string>
	    <key>identifier</key>
	    <integer>126</integer>
	    <key>name</key>
	    <string>Kenya</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ku-flag</string>
	    <key>identifier</key>
	    <integer>130</integer>
	    <key>name</key>
	    <string>Kuwait</string>
	</dict>
    </array>
    <key>L</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>lg-flag</string>
	    <key>identifier</key>
	    <integer>133</integer>
	    <key>name</key>
	    <string>Latvia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>le-flag</string>
	    <key>identifier</key>
	    <integer>134</integer>
	    <key>name</key>
	    <string>Lebanon</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ls-flag</string>
	    <key>identifier</key>
	    <integer>138</integer>
	    <key>name</key>
	    <string>Liechtenstein</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>lh-flag</string>
	    <key>identifier</key>
	    <integer>139</integer>
	    <key>name</key>
	    <string>Lithuania</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>lu-flag</string>
	    <key>identifier</key>
	    <integer>140</integer>
	    <key>name</key>
	    <string>Luxembourg</string>
	</dict>
    </array>
    <key>M</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>mc-flag</string>
	    <key>identifier</key>
	    <integer>141</integer>
	    <key>name</key>
	    <string>Macau</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>mk-flag</string>
	    <key>identifier</key>
	    <integer>142</integer>
	    <key>name</key>
	    <string>Macedonia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ma-flag</string>
	    <key>identifier</key>
	    <integer>143</integer>
	    <key>name</key>
	    <string>Madagascar</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>my-flag</string>
	    <key>identifier</key>
	    <integer>145</integer>
	    <key>name</key>
	    <string>Malaysia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>mv-flag</string>
	    <key>identifier</key>
	    <integer>146</integer>
	    <key>name</key>
	    <string>Maldives</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ml-flag</string>
	    <key>identifier</key>
	    <integer>147</integer>
	    <key>name</key>
	    <string>Mali</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>mt-flag</string>
	    <key>identifier</key>
	    <integer>148</integer>
	    <key>name</key>
	    <string>Malta</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>mp-flag</string>
	    <key>identifier</key>
	    <integer>152</integer>
	    <key>name</key>
	    <string>Mauritius</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>mx-flag</string>
	    <key>identifier</key>
	    <integer>154</integer>
	    <key>name</key>
	    <string>Mexico</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>md-flag</string>
	    <key>identifier</key>
	    <integer>156</integer>
	    <key>name</key>
	    <string>Moldova</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>mn-flag</string>
	    <key>identifier</key>
	    <integer>157</integer>
	    <key>name</key>
	    <string>Monaco</string>
	</dict>
    </array>
    <key>N</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>nl-flag</string>
	    <key>identifier</key>
	    <integer>166</integer>
	    <key>name</key>
	    <string>Netherlands</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>nu-flag</string>
	    <key>identifier</key>
	    <integer>170</integer>
	    <key>name</key>
	    <string>Nicaragua</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ng-flag</string>
	    <key>identifier</key>
	    <integer>171</integer>
	    <key>name</key>
	    <string>Niger</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>no-flag</string>
	    <key>identifier</key>
	    <integer>176</integer>
	    <key>name</key>
	    <string>Norway</string>
	</dict>
    </array>
    <key>P</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>pk-flag</string>
	    <key>identifier</key>
	    <integer>178</integer>
	    <key>name</key>
	    <string>Pakistan</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>pm-flag</string>
	    <key>identifier</key>
	    <integer>180</integer>
	    <key>name</key>
	    <string>Panama</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>pa-flag</string>
	    <key>identifier</key>
	    <integer>183</integer>
	    <key>name</key>
	    <string>Paraguay</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>pe-flag</string>
	    <key>identifier</key>
	    <integer>184</integer>
	    <key>name</key>
	    <string>Peru</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>rp-flag</string>
	    <key>identifier</key>
	    <integer>185</integer>
	    <key>name</key>
	    <string>Philippines</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>pl-flag</string>
	    <key>identifier</key>
	    <integer>187</integer>
	    <key>name</key>
	    <string>Poland</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>po-flag</string>
	    <key>identifier</key>
	    <integer>188</integer>
	    <key>name</key>
	    <string>Portugal</string>
	</dict>
    </array>
    <key>Q</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>qa-flag</string>
	    <key>identifier</key>
	    <integer>190</integer>
	    <key>name</key>
	    <string>Qatar</string>
	</dict>
    </array>
    <key>R</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ro-flag</string>
	    <key>identifier</key>
	    <integer>192</integer>
	    <key>name</key>
	    <string>Romania</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>rs-flag</string>
	    <key>identifier</key>
	    <integer>193</integer>
	    <key>name</key>
	    <string>Russia</string>
	</dict>
    </array>
    <key>S</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>sa-flag</string>
	    <key>identifier</key>
	    <integer>203</integer>
	    <key>name</key>
	    <string>Saudi Arabia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>sn-flag</string>
	    <key>identifier</key>
	    <integer>208</integer>
	    <key>name</key>
	    <string>Singapore</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>lo-flag</string>
	    <key>identifier</key>
	    <integer>209</integer>
	    <key>name</key>
	    <string>Slovakia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>si-flag</string>
	    <key>identifier</key>
	    <integer>210</integer>
	    <key>name</key>
	    <string>Slovenia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>sp-flag</string>
	    <key>identifier</key>
	    <integer>215</integer>
	    <key>name</key>
	    <string>Spain</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>sw-flag</string>
	    <key>identifier</key>
	    <integer>222</integer>
	    <key>name</key>
	    <string>Sweden</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>sz-flag</string>
	    <key>identifier</key>
	    <integer>223</integer>
	    <key>name</key>
	    <string>Switzerland</string>
	</dict>
    </array>
    <key>T</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>tw-flag</string>
	    <key>identifier</key>
	    <integer>225</integer>
	    <key>name</key>
	    <string>Taiwan</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>th-flag</string>
	    <key>identifier</key>
	    <integer>228</integer>
	    <key>name</key>
	    <string>Thailand</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ts-flag</string>
	    <key>identifier</key>
	    <integer>235</integer>
	    <key>name</key>
	    <string>Tunisia</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>tu-flag</string>
	    <key>identifier</key>
	    <integer>236</integer>
	    <key>name</key>
	    <string>Turkey</string>
	</dict>
    </array>
    <key>U</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ug-flag</string>
	    <key>identifier</key>
	    <integer>240</integer>
	    <key>name</key>
	    <string>Uganda</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>ae-flag</string>
	    <key>identifier</key>
	    <integer>242</integer>
	    <key>name</key>
	    <string>United Arab Emirates</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>uk-flag</string>
	    <key>identifier</key>
	    <integer>243</integer>
	    <key>name</key>
	    <string>United Kingdom</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>us-flag</string>
	    <key>identifier</key>
	    <integer>244</integer>
	    <key>name</key>
	    <string>United States</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>up-flag</string>
	    <key>identifier</key>
	    <integer>241</integer>
	    <key>name</key>
	    <string>Ukraine</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>uy-flag</string>
	    <key>identifier</key>
	    <integer>245</integer>
	    <key>name</key>
	    <string>Uruguay</string>
	</dict>
    </array>
    <key>V</key>
    <array>
	<dict>
	    <key>flag</key>
	    <string>ve-flag</string>
	    <key>identifier</key>
	    <integer>248</integer>
	    <key>name</key>
	    <string>Venezuela</string>
	</dict>
	<dict>
	    <key>flag</key>
	    <string>vm-flag</string>
	    <key>identifier</key>
	    <integer>249</integer>
	    <key>name</key>
	    <string>Vietnam</string>
	</dict>
    </array>
 </dict>
</plist>